[submodule "Mods/Balatro-Repentance"]
	path = Mods/Balatro-Repentance
	url = https://github.com/lshtech/balatro-repentance
[submodule "Mods/Bird-Jokers"]
	path = Mods/Bird-Jokers
	url = https://github.com/JustinBanzon/Bird-Jokers
[submodule "Mods/BlindEditions"]
	path = Mods/BlindEditions
	url = https://github.com/Mathguy23/BlindEditions
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/Cosmos"]
	path = Mods/Cosmos
	url = https://github.com/neatoqueen/Cosmos
[submodule "Mods/Cryptid"]
	path = Mods/Cryptid
	url = https://github.com/MathIsFun0/Cryptid
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/ExtendedBlueprint"]
	path = Mods/ExtendedBlueprint
	url = https://github.com/Toneblock/balatro-ExtendedBlueprint
[submodule "Mods/ExtraCredit"]
	path = Mods/ExtraCredit
	url = https://github.com/GuilloryCraft/ExtraCredit
[submodule "Mods/Flower-Pot"]
	path = Mods/Flower-Pot
	url = https://github.com/GauntletGames-2086/Flower-Pot
[submodule "Mods/Fusion-Jokers"]
	path = Mods/Fusion-Jokers
	url = https://github.com/lshtech/Fusion-Jokers
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/Gemstones"]
	path = Mods/Gemstones
	url = https://github.com/0fficialHalo/Gemstones
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/Item-Remover"]
	path = Mods/Item-Remover
	url = https://github.com/art-muncher/Item-Remover
[submodule "Mods/JoJokers"]
	path = Mods/JoJokers
	url = https://github.com/WarlordShado/JoJokers
[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/MOARJokers"]
	path = Mods/MOARJokers
	url = https://github.com/MrSmoothieHuman1/MOARJokers
[submodule "Mods/ModPackFixes"]
	path = Mods/ModPackFixes
	url = https://github.com/lshtech/ModPackFixes
[submodule "Mods/Seven-Deadly-Decks"]
	path = Mods/Seven-Deadly-Decks
	url = https://github.com/AstroLightz/Balatro-7DeadlyDecks
[submodule "Mods/TatteredDecks"]
	path = Mods/TatteredDecks
	url = https://github.com/Cheesy-Brik/TatteredDecks
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/Warpzone"]
	path = Mods/Warpzone
	url = https://github.com/frangnosquest/Warpzone
[submodule "Mods/YART"]
	path = Mods/YART
	url = https://github.com/DigitalDetective47/yart
[submodule "Mods/AdAbsurdum"]
	path = Mods/AdAbsurdum
	url = https://github.com/7f-galaxii/AdAbsurdum
[submodule "Mods/NoFantasy"]
	path = Mods/NoFantasy
	url = https://github.com/fantasygone/nofantasyJokers/
[submodule "Mods/Isaactro"]
	path = Mods/Isaactro
	url = https://github.com/WilliamFlinchbaugh/Isaactro
[submodule "Mods/JimboRecords"]
	path = Mods/JimboRecords
	url = https://github.com/TherkLe/JimboRecords
[submodule "Mods/CelesteCardCollection"]
	path = Mods/CelesteCardCollection
	url = https://github.com/AuroraKy/CelesteCardCollection
[submodule "Mods/MintysSillyMod"]
	path = Mods/MintysSillyMod
	url = https://github.com/wingedcatgirl/MintysSillyMod
[submodule "Mods/Magic-the-Jokering"]
	path = Mods/Magic-the-Jokering
	url = https://github.com/spire-winder/Magic-the-Jokering
[submodule "Mods/YuGiOh-Cards"]
	path = Mods/YuGiOh-Cards
	url = https://github.com/VaporeonMega-git/Balatro-YuGiOh-Cards
[submodule "Mods/H1DROmod"]
	path = Mods/H1DROmod
	url = https://github.com/hidro0091/H1DROmod-balatro
[submodule "Mods/Maximus"]
	path = Mods/Maximus
	url = https://github.com/the-Astra/Maximus
[submodule "Mods/Pauper-Deck"]
	path = Mods/Pauper-Deck
	url = https://github.com/AiksiLotl/Pauper-Deck
[submodule "Mods/DnDJ"]
	path = Mods/DnDJ
	url = https://github.com/AuraGunner/dndj-mod
[submodule "Mods/Planet-Card-Cash-Out"]
	path = Mods/Planet-Card-Cash-Out
	url = https://github.com/antler5/Balatro-Planet-Card-Cash-Out-Mod
[submodule "Mods/CustomSuitOrder"]
	path = Mods/CustomSuitOrder
	url = https://github.com/DigitalDetective47/suit-order
[submodule "Mods/ArtOfTheDeal"]
	path = Mods/ArtOfTheDeal
	url = https://github.com/radbanker/Art-of-the-Deal.The-peoples-card-collection
[submodule "Mods/MetroCard"]
	path = Mods/MetroCard
	url = https://github.com/JegMetroCard/MetroCard
[submodule "Mods/TheAutumnCircus"]
	path = Mods/TheAutumnCircus
	url = https://github.com/Dimserene/TheAutumnCircus
[submodule "Mods/Balatro-Plus"]
	path = Mods/Balatro-Plus
	url = https://github.com/SomeCoder99/balatro-plus
[submodule "Mods/Tesseract"]
	path = Mods/Tesseract
	url = https://github.com/hyperxwastaken/Tesseract
[submodule "Mods/FlushHotkeys"]
	path = Mods/FlushHotkeys
	url = https://github.com/Dimserene/FlushHotkeys
[submodule "Mods/Kaboomers"]
	path = Mods/Kaboomers
	url = https://github.com/29cmb/Kaboomers
[submodule "Mods/Leapfrog-Balatro-Deck"]
	path = Mods/Leapfrog-Balatro-Deck
	url = https://github.com/superdotaplaya/Leapfrog-Balatro-Deck
[submodule "Mods/Holotro"]
	path = Mods/Holotro
	url = https://github.com/RivFalcon/Holotro
[submodule "Mods/Unsorted"]
	path = Mods/Unsorted
	url = https://github.com/Telbone/Unsorted
[submodule "Mods/Aikoyoris-Shenanigans"]
	path = Mods/Aikoyoris-Shenanigans
	url = https://github.com/Aikoyori/Balatro-Aikoyoris-Shenanigans
[submodule "Mods/TheCircus"]
	path = Mods/TheCircus
	url = https://gitlab.com/infinite_jesters/circus
[submodule "Mods/Lock-The-Deal"]
	path = Mods/Lock-The-Deal
	url = https://gitlab.com/lnxfca-dev/balatro-mods/lock-the-deal
[submodule "Mods/First-Round-Joker"]
	path = Mods/First-Round-Joker
	url = https://gitlab.com/lnxfca-dev/balatro-mods/first-round-joker
[submodule "Mods/LnxFCA-Shared"]
	path = Mods/LnxFCA-Shared
	url = https://gitlab.com/lnxfca-dev/balatro-mods/lnxfca-shared
[submodule "Mods/Hyperfixation"]
	path = Mods/Hyperfixation
	url = https://github.com/tomatoseandcrying/hyperfixation
[submodule "Mods/EvaJokers"]
	path = Mods/EvaJokers
	url = https://github.com/Toringen/EvaJokers
[submodule "Mods/Maxines-Joker-Pack"]
	path = Mods/Maxines-Joker-Pack
	url = https://github.com/MaxIsJoe/maxine-balatro-mod
[submodule "Mods/Revos-Vault"]
	path = Mods/Revos-Vault
	url = https://github.com/Cdrvo/Revos-Vault---Balatro-Mod
[submodule "Mods/YACBM"]
	path = Mods/YACBM
	url = https://github.com/Trif3ctal/YACBM
[submodule "Mods/NeatoJokers"]
	path = Mods/NeatoJokers
	url = https://github.com/neatoqueen/NeatoJokers
[submodule "Mods/SystemClock"]
	path = Mods/SystemClock
	url = https://github.com/Breezebuilder/SystemClock
[submodule "Mods/Baliatro"]
	path = Mods/Baliatro
	url = https://github.com/baliame/Baliatro
[submodule "Mods/Baladrone"]
	path = Mods/Baladrone
	url = https://github.com/fantasygone/Baladrone
[submodule "Mods/Slotmachine"]
	path = Mods/Slotmachine
	url = https://github.com/boldboldness/slotmachine
[submodule "Mods/Strange-Library"]
	path = Mods/Strange-Library
	url = https://github.com/DigitalDetective47/strange-library
[submodule "Mods/SarcPot"]
	path = Mods/SarcPot
	url = https://github.com/SarcPot/sarcpot-mod
[submodule "Mods/Bakery"]
	path = Mods/Bakery
	url = https://github.com/BakersDozenBagels/BalatroBakery
[submodule "Mods/LuckyJimbos"]
	path = Mods/LuckyJimbos
	url = https://github.com/MamiKeRiko/luckyjimbos
[submodule "Mods/TherkleDoodles"]
	path = Mods/TherkleDoodles
	url = https://github.com/TherkLe/therkledoodles
[submodule "Mods/Maeveys-Jokers"]
	path = Mods/Maeveys-Jokers
	url = https://github.com/maeveynogget/maeveys-jokers
[submodule "Mods/TIWMIG"]
	path = Mods/TIWMIG
	url = https://github.com/Oinite12/tiwmig-mod
[submodule "Mods/SuperBalatrowl"]
	path = Mods/SuperBalatrowl
	url = https://github.com/boldboldness/superbalatrowl
[submodule "Mods/Order"]
	path = Mods/Order
	url = https://github.com/pinkmaggit-hub/Order/
[submodule "Mods/CollectorsCards"]
	path = Mods/CollectorsCards
	url = https://github.com/Mathguy23/CollectorsCards
[submodule "Mods/Grim"]
	path = Mods/Grim
	url = https://github.com/Dimserene/Grim
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus
[submodule "Mods/JoyousSpring"]
	path = Mods/JoyousSpring
	url = https://github.com/nh6574/JoyousSpring
[submodule "Mods/Pestrica"]
	path = Mods/Pestrica
	url = https://github.com/marinaposting/PesJkr
[submodule "Mods/The-Binding-Of-Jimbo"]
	path = Mods/The-Binding-Of-Jimbo
	url = https://github.com/h3llo-wor1d/The-Binding-Of-Jimbo
[submodule "Mods/Hit"]
	path = Mods/Hit
	url = https://github.com/Mathguy23/Hit
[submodule "Mods/Zeros-Assortment"]
	path = Mods/Zeros-Assortment
	url = https://github.com/Zero4793/Zeros-Assortment
[submodule "Mods/BalatroGoesKino"]
	path = Mods/BalatroGoesKino
	url = https://github.com/icyethics/Kino
[submodule "Mods/JokerHub"]
	path = Mods/JokerHub
	url = https://github.com/sup3p/JokerHub
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamodded/smods
[submodule "Mods/Ortalab-DEMO"]
	path = Mods/Ortalab-DEMO
	url = https://github.com/Eremel/Ortalab
[submodule "Mods/UnStable"]
	path = Mods/UnStable
	url = https://github.com/kirbio/UnStable
[submodule "Mods/UnStableEX"]
	path = Mods/UnStableEX
	url = https://github.com/kirbio/UnStableEX
